{
  "hostname": "dev01-realm-customer.demandware.net",
  "username": "your-business-manager-username",
  "password": "your-access-key-or-password",
  "clientId": "your-ocapi-client-id",
  "clientSecret": "your-ocapi-client-secret",
  "contentLibrary": "shared_library",
  "version": "v23_2"
}
